section {
  padding: 10px;
}
section.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-auto {
  flex: auto;
}
.flex-none {
  flex: none;
}
