.row {
  display: flex;
  align-items: center;
  border: 1px solid var(--vscode-minimapSlider-activeBackground);
  width: 100%;
  & > * {
    display: block;
    padding: 10px;
  }
  & > *:not(:last-child) {
    border-right: 1px solid var(--vscode-minimapSlider-activeBackground);
  }
}
