.split-view-container {
  height: 100%;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
.split-view-view {
  width: 100%;
}
.pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.pane-header {
  background-color: var(--vscode-sideBarSectionHeader-background);
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 700;
  height: 22px;
  overflow: hidden;
  & h3 {
    font-size: 11px;
    min-width: 3ch;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}
