.header {
  margin-top: 8px;
  margin-bottom: 8px;
}
.item {
  width: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  & > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: #0dc09d;
    }
    & .metaLabel {
      white-space: nowrap;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #0dc09d;
      &:first-child {
        flex: 1;
        font-weight: bold;
        min-width: 100px;
        max-width: 300px;
      }
      &:last-child {
      }
      &:hover {
        color: white;
      }
      &.disabled {
        color: #666;
        cursor: default;
        &:hover {
          color: #666;
        }
      }
    }
  }
  & .children {
    & label {
      text-transform: uppercase;
      font-size: 12px;
      color: #666;
      padding: 4px 4px 0 4px;
    }
    & .subItems {
      padding: 0 0 4px 0;
      & > label {
        display: block;
        cursor: pointer;
        padding: 0;
        &:hover {
          color: #999;
        }
        & > span {
          font-size: 8px;
          margin-left: 8px;
        }
      }
      & > div {
        padding: 4px;
        & > label {
          color: #999;
          display: block;
          width: 100%;
          padding: 0 4px;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
.section {
  width: 100%;
  &:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #333;
  }
}
