.item {
  cursor: pointer;
  width: 100%;
  padding: 4px;
  & .label {
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
  & .children {
    & > label {
      text-transform: uppercase;
      font-size: 12px;
      color: #666;
      padding: 4px 4px 0 4px;
      display: block;
      cursor: pointer;
      &:hover {
        color: #999;
      }
      & > span {
        font-size: 8px;
        margin-left: 8px;
      }
    }
    & > div {
      padding: 4px;
      & > label {
        color: #999;
        display: block;
        width: 100%;
        padding: 0 4px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
}
