.toolbar {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 8px;
  border-bottom: 1px solid var(--vscode-dropdown-border);
  padding: 8px;
  > * {
    flex: 1 1 auto;
    justify-content: center;
  }
}
