.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border: 1px solid var(--vscode-dropdown-border);
  background: var(--vscode-dropdown-background);
  border-radius: 2px;
  padding: 0 8px;
  height: 29px;
  color: var(--vscode-input-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  &:focus {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--vscode-input-placeholderForeground);
  }
}

textarea.input {
  height: auto;
  padding: 8px;
}

.label {
  font-size: 11px;
  color: var(--vscode-input-foreground);
  opacity: 0.8;
  margin-bottom: 2px;
}
