.toolbar {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 8px;
  padding: 0 8px 8px 8px;
  > * {
    flex: 1 1 auto;
    &:not(:first-child) {
      max-width: 50px;
      justify-content: center;
    }
  }
}
