.select {
  position: relative;
  width: 100%;
}

.selectButton {
  border: 1px solid var(--vscode-button-border);
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: 3px;
  padding: 0 10px;
  height: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  &::after {
    font-family: codicon;
    content: "\eab4";
    margin-left: 8px;
    transition: transform 0.2s ease;
  }
  &:hover {
    background-color: var(--vscode-button-hoverBackground);
    border-color: var(--vscode-button-border-hover);
    &::after {
      color: var(--nf-highlight);
    }
  }
  &.alt {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-button-background);
    color: var(--vscode-editor-foreground);
    font-weight: 400;
    &:hover {
      border-color: var(--nf-highlight-2);
    }
  }
  &.subtle {
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
  &.subtle2 {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  & .label {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    & i,
    & img {
      margin-right: 8px;
      height: 13px;
      width: 13px;
    }
  }
  &.large {
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    font-weight: 600;
  }
}

.selectButton[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-button-background);
  border-radius: 2px;
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option {
  padding: 0 8px;
  height: 29px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.option:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.selected {
  background-color: var(--vscode-list-activeSelectionBackground);
  color: var(--vscode-list-activeSelectionForeground);
}

.outerLabel {
  font-size: 11px;
  color: var(--vscode-input-foreground);
  opacity: 0.8;
  margin-bottom: 2px;
}
