.item {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}
.label {
  line-height: 1;
  display: flex;
  align-items: center;
  color: var(--vscode-foreground);
  overflow: hidden;
  flex: 1 1 auto;
  cursor: pointer;
  & .name {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    width: 100%;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
  & .icon {
    width: 15px;
    height: 14px;
    margin-right: 6px;
    cursor: pointer;
  }
}
