.button {
  height: 29px;
  display: inline-flex;
  align-items: center;
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border);
  color: var(--vscode-button-foreground);
  padding: 0 16px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  transition: all 0.2s;
  &:hover {
    background-color: var(--vscode-button-hoverBackground);
    border-color: var(--vscode-button-border-hover);
    color: var(--vscode-button-foreground);
    & i {
      opacity: 1;
    }
  }
  & i {
    font-size: 14px;
    opacity: 0.8;
  }
  &.small {
    height: 20px;
    padding: 0 6px;
    font-size: 11px;
    outline: none;
    & i {
      font-size: 13px !important;
      margin-right: 4px;
    }
  }
  &.fullWidth {
    width: 100%;
  }
  & i {
    &.iconfix {
      font-size: 17px;
    }
  }
}
.button.alt {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-dropdown-border);
  color: var(--vscode-button-foreground);
  font-weight: 400;
}
.button.alt2 {
  background: var(--vscode-dropdown-border);
  border: 1px solid var(--vscode-dropdown-border);
  color: var(--vscode-button-foreground);
}
.button.subtle {
  background-color: var(--vscode-sideBarSectionHeader-background);
}
.button.bare {
  background-color: transparent;
  border: none;
  color: var(--vscode-button-foreground);
  outline: none;
  opacity: 0.6;
  padding: 0;
  &:hover,
  &.active {
    background-color: transparent;
    border-color: transparent;
    color: var(--vscode-button-foreground);
    opacity: 0.8;
  }
}
